1: Unique Words in a Sentence

In [1]:
# Taking input from user
sentence = input("Enter sentence: ")

# Splitting sentence into words
words = sentence.split()

# Converting list to set to remove duplicates
unique_words = set(words)

# Display results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: Innomatics Research Lab
Unique words count: 3
Unique words: {'Research', 'Lab', 'Innomatics'}

2: Highest Salary from Employee Data

In [2]:
# Employee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Finding employee with highest salary
highest_employee = max(employees, key=employees.get)

# Display result
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

3: Find Maximum and Minimum Values

In [3]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Display results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

4: Count Products Above a Price Threshold

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0

# Loop through prices
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

5: Calculate Attendance Percentage

In [5]:
attendance = ["P", "P", "A", "P", "P"]

# Count number of Present days
present_count = attendance.count("P")

# Calculate percentage
attendance_percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

6: Remove Duplicate Phone Numbers

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

7: Count Character Frequency

In [7]:
text = "python"

char_count = {}

# Loop through each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

8: Convert List to Tuple

In [8]:
numbers_list = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers_list)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

9: Check if a Key Exists in a Dictionary

In [9]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key_to_check = "Ravi"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

10: Calculate Average Marks

In [10]:
marks = [70, 75, 80, 65]

# Calculate average
average_marks = sum(marks) / len(marks)

print("Average Marks:", average_marks)

Average Marks: 72.5